<div [@routerTransition]>
    <h2 class="text-muted">Dashboard
        <!-- <small>Statistics Overview</small> -->
    </h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide"
                        width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
     <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Pie Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [data]="pieChartData1" [labels]="pieChartLabels1"
                        [chartType]="pieChartType1" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Pie Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels"
                        [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div> 
    <hr> 
    <div class="row">
        <div class="col-xl-3 col-lg-6 colStyle">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'Lead Status Open!'">
            </app-stat>
        </div>
        <div class="col-xl-3 col-lg-6 colStyle">
            <app-stat [bgClass]="'orange'" [icon]="'fa-tasks'" [count]="12" [label]="'Lead Status Running!'">
            </app-stat>
        </div>
        <div class="col-xl-3 col-lg-6 colStyle">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'Closed!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6 colStyle">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'Status Reopen!'"></app-stat>
        </div>
    </div>
    <div class="row" style="margin-top: 2%;">
        <div class="col-xl-3 col-lg-6 colStyle">
            <app-stat [bgClass]="'info'" [icon]="'fa-comments'" [count]="35" [label]="'Total Lead!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6 colStyle">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="42" [label]="'Main Category!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6 colStyle">
            <app-stat [bgClass]="'teal'" [icon]="'fa-shopping-cart'" [count]="15" [label]="'User Count!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6 colStyle">
            <app-stat [bgClass]="'pink'" [icon]="'fa-support'" [count]="14" [label]="'Vendor Count!'"></app-stat>
        </div>
    </div>
    <hr />
    <!-- <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert> -->
    <hr />
    <!-- <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div> -->
    <!-- /.card-header -->
    <!-- <app-timeline></app-timeline> -->
    <!-- /.card-body -->
    <!-- </div> -->
    <!-- /.card -->
    <!-- </div> -->
    <!-- /.col-lg-8 -->
    <!-- <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div> -->
    <!-- /.card-header -->
    <!-- <app-notification></app-notification> -->
    <!-- /.card-body -->
    <!-- </div> -->
    <!-- /.card -->

    <!-- <app-chat></app-chat> -->
    <!-- /.card .chat-card -->
    <!-- </div> -->
    <!-- /.col-lg-4 -->
    <!-- </div> -->
</div>